Package: vx-dga-l-congelar-escritorio
Version: 2.0-1
Architecture: all
Maintainer: Ángel Lafuente <angel.lafuentezgz@gmail.com>
Installed-Size: 17
Pre-Depends: vx-utils
Depends: vx-dga-l-desktop-wallpaper, vx-dga-l-migasfree-launcher (>= 5.1), vx-dga-l-skel-usuarios (>= 1.1), vx-dga-l-scripts-inicio-apagado, vx-dga-l-scripts (>= 3.2-6)
Section: x11
Priority: extra
Homepage: https://github.com/Vitalinux-DGA-ProgSoftLibre
Description: Congelación del Entorno de Escritorio.
 Congelación de Escritorio basada en:
 1) La sincronización con el contenido del directorio ubicado en: /etc/skel/Escritorio
 2) La regeneración de los archivos de configuración del Entorno de Escritorio
